.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chart-container {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin: auto;
  display: block;
}
