<!-- project-success-rate.component.html -->
<select [(ngModel)]="selectedCustomer"
        (change)="createProjectSuccessRate()"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
  <option value="all">All Customers</option>
  <option *ngFor="let customer of customers"
          [value]="customer.uuid"
          class="py-1">
    {{customer.name}}
  </option>
</select>

<svg class="chart-container" #projectSuccessRateContainer></svg>
