<!-- Dashboard Container -->
<div class="bg-gray-100 p-5 min-h-screen">
  <div class="max-w-7xl mx-auto">
    <!-- Header -->
    <div class="text-4xl font-bold text-gray-900 mb-6" i18n="@@siteDashboardHeader">Dashboard</div>

    <!-- Select Dropdown for Customer Selection - Default: All Customers -->
    <div class="flex flex-col sm:flex-row items-center gap-4 mb-6">
      <label for="customerSelect" class="font-medium text-gray-900">Select a Customer:</label>
      <ng-select [items]="filteredCustomers"
                 bindLabel="name"
                 bindValue="uuid"
                 placeholder="All Customers"
                 [(ngModel)]="selectedCustomer"
                 (ngModelChange)="onChangeCustomer()"
                 [typeahead]="customerInput$"
                 [clearable]="true"
                 [searchable]="true"
                 [compareWith]="compareCustomers"
                 class="w-full sm:w-56"
                 id="customerSelect">
      </ng-select>
    </div>

    <!-- Select Dropdown for Color Scheme -->
    <div class="flex flex-col sm:flex-row items-center gap-4 mb-6">
      <label for="colorSchemeSelect" class="font-medium text-gray-900">Select a Color Scheme:</label>
      <ng-select [items]="colorSchemes"
                 bindLabel="label"
                 bindValue="scheme"
                 placeholder="Select Color Scheme"
                 [(ngModel)]="selectedColorScheme"
                 (ngModelChange)="onColorSchemeChange()"
                 class="w-full sm:w-56"
                 id="colorSchemeSelect">
      </ng-select>
    </div>

    <!-- Selections Display and Reset Button -->
    <div class="mb-6 flex flex-col sm:flex-row sm:items-center sm:justify-between">
      <div>
        <div *ngIf="selectedCustomer" class="inline-block bg-blue-200 text-blue-800 rounded-full px-3 py-1 mr-2 mb-2">
          {{ selectedCustomer.name }}
          <button (click)="resetSelections()" class="ml-2 text-red-600 font-bold">x</button>
        </div>
        <div *ngFor="let sector of selectedSectors" class="inline-block bg-green-200 text-green-800 rounded-full px-3 py-1 mr-2 mb-2">
          {{ sector.name }}
          <button (click)="removeSector(sector)" class="ml-2 text-red-600 font-bold">x</button>
        </div>
      </div>
      <div class="flex gap-4">
        <button [style.visibility]="(selectedCustomer || selectedSectors.length > 0) ? 'visible' : 'hidden'"
                (click)="resetSelections()" class="mt-4 sm:mt-0 bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-600 transition">
          Reset Selections
        </button>
        <button [style.visibility]="(selectedCustomer || selectedSectors.length > 0) ? 'visible' : 'hidden'"
                (click)="generatePDF()" class="mt-4 sm:mt-0 bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 transition">
          Generate Report
        </button>
      </div>
    </div>

    <!-- Cards Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Dynamic Card Generation -->
      <div *ngFor="let card of cards"
           [ngClass]="{'lg:col-span-2': card.isLarge, 'lg:col-span-1': !card.isLarge}"
           class="bg-white shadow-lg rounded-lg p-6 transition-shadow hover:shadow-xl"
           [attr.id]="generateId(card.title)">
        <div class="mb-4 font-bold text-xl">{{ card.title }}</div>
        <ng-container *ngIf="card.title === 'Customer Revenue Overview'">
          <app-revenue-overview [customers]="customers" [relationships]="CustomerSectorRelationships" ></app-revenue-overview>
        </ng-container>
        <ng-container *ngIf="card.title === 'Customer Info Overview'">
          <app-customer-details-card [customers]="customers"></app-customer-details-card>
        </ng-container>
        <ng-container *ngIf="card.title === 'Project Success Rate'">
          <app-project-success-rate [customers]="customers" [projects]="projects" [projectCustomerRelations]="ProjectCustomerRelations"></app-project-success-rate>
        </ng-container>
        <ng-container *ngIf="card.title === 'Amount of Customers Per Sector'">
          <app-sector-ratio [customers]="customers" [relationships]="CustomerSectorRelationships" [sectors]="sectors" [colorScheme]="selectedColorScheme"></app-sector-ratio>
        </ng-container>
      </div>
    </div>
  </div>
</div>
