<!-- Dashboard Container -->
<div class="bg-gray-100 p-5 min-h-screen">
  <div class="max-w-6xl mx-auto">
    <div class="text-3xl font-bold text-gray-900 mb-5">Dashboard</div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Dynamic Card Generation -->
      <div *ngFor="let card of cards"
           [ngClass]="{'lg:col-span-2': card.isLarge, 'lg:col-span-1': !card.isLarge}"
           class="bg-white shadow-lg rounded-lg p-5">
        <div class="mb-2 font-bold text-xl">{{ card.title }}</div>
        <!-- Placeholder for dynamic component loading -->
        <!-- Example of using *ngIf to load different components based on the card title -->
        <ng-container *ngIf="card.title === 'Customer Revenue Overview'">
          <app-revenue-overview [customers]="customers"></app-revenue-overview>
        </ng-container>
        <ng-container *ngIf="card.title === 'Amount of Customers Per Sector'">
          <app-sector-ratio [customers]="customers" [relationships]="relationships"
                            [sectors]="sectors"></app-sector-ratio>
        </ng-container>
      </div>
    </div>
  </div>
</div>
