<!-- Dashboard Container -->
<div class="bg-gray-100 p-5 min-h-screen">
  <div class="max-w-7xl mx-auto">
    <!-- Header -->
    <div class="text-4xl font-bold text-gray-900 mb-10" i18n="@@siteDashboardHeader">Dashboard</div>

    <!-- Select Dropdown for Customer Selection - Default: All Customers -->
    <div class="flex flex-col sm:flex-row items-center gap-4 mb-8">
      <label for="customerSelect" class="font-medium text-gray-900">Select a Customer:</label>
      <ng-select [items]="customers"
                 bindLabel="name"
                 bindValue="uuid"
                 placeholder="All Customers"
                 [(ngModel)]="selectedCustomer"
                 (change)="onChangeCustomer()"
                 [typeahead]="customerInput$"
                 [clearable]="true"
                 [searchable]="true"
                 class="w-full sm:w-56"
                  id="customerSelect">
      >
      </ng-select>
    </div>

    <!-- Cards Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Dynamic Card Generation -->
      <div *ngFor="let card of cards"
           [ngClass]="{'lg:col-span-2': card.isLarge, 'lg:col-span-1': !card.isLarge}"
           class="bg-white shadow-lg rounded-lg p-6 transition-shadow hover:shadow-xl">
        <div class="mb-4 font-bold text-xl">{{ card.title }}</div>
        <ng-container *ngIf="card.title === 'Customer Revenue Overview'">
          <app-revenue-overview [customers]="customers" [relationships]="CustomerSectorRelationships"></app-revenue-overview>
        </ng-container>
        <ng-container *ngIf="card.title === 'Customer Info Overview'">
          <app-customer-details-card *ngIf="selectedCustomer" [customers]="customers"></app-customer-details-card>
        </ng-container>
        <ng-container *ngIf="card.title === 'Project Success Rate'">
          <app-project-success-rate [customers]="customers" [projects]="projects"
                                    [projectCustomerRelations]="ProjectCustomerRelations" [customerSectorRelations]="CustomerSectorRelationships"></app-project-success-rate>
        </ng-container>
        <ng-container *ngIf="card.title === 'Amount of Customers Per Sector'">
          <app-sector-ratio [customers]="customers" [relationships]="CustomerSectorRelationships"
                            [sectors]="sectors"></app-sector-ratio>
        </ng-container>
      </div>
    </div>
  </div>
</div>
