<div class="flex h-screen overflow-hidden relative">
  <div [ngStyle]="{'right': sidebarExpanded ? '18rem' : '0', 'width': sidebarExpanded ? 'calc(100% - 18rem)' : '100%'}" class="absolute top-0 p-4 z-10">
    <select (change)="onNodeSelected($event)" class="w-full p-2 rounded border shadow">
      <option value="" disabled selected>Select a node...</option>
      <option *ngFor="let node of nodes" [value]="node.id">{{ node.name }}</option>
    </select>
  </div>
  <div class="flex-1 bg-white">
    <div #chart class="chart-container flex-grow bg-white"></div>
  </div>

  <!-- Adjust the button container's positioning to be dynamic with the sidebar state -->
  <div [ngClass]="{'right-72': sidebarExpanded, 'right-0': !sidebarExpanded}" class="absolute bottom-0 z-20 p-4 space-y-2">
    <button (click)="zoomIn()" class="flex items-center justify-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow">
      <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 8l7 7 7-7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
      </svg>
      Zoom In
    </button>
    <button (click)="zoomOut()" class="flex items-center justify-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow">
      <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 12H5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
      </svg>
      Zoom Out
    </button>
    <button (click)="resetZoom()" class="flex items-center justify-center bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded shadow">
      <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
      </svg>
      Reset Zoom
    </button>
  </div>

  <!-- Sidebar -->
  <div [ngClass]="{'-translate-x-full opacity-0': !sidebarExpanded, 'translate-x-0 opacity-100': sidebarExpanded}" class='absolute top-0 right-0 w-72 h-full bg-gray-800 text-white z-10 transition-all ease-in-out duration-300 transform'>
    <button (click)="toggleSidebar()" class="p-4 w-full text-left text-gray-300 hover:text-white flex items-center">
      <!-- Icon for Toggle Button -->
      <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 6h16M4 12h16m-7 6h7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
      </svg>
      Toggle Sidebar
    </button>
    <h2 class="text-xl font-semibold p-4 border-b border-gray-700 text-uppercase"> {{ selectedNode?.type || '' }} Details</h2>
    <div class="p-4 overflow-auto">
      <p *ngIf="selectedNode"><strong>Name:</strong> {{ selectedNode.name }}</p>

      <!-- Ensure pipes are used properly -->
      <p *ngIf="isCustomer(selectedNode)"><strong>Revenue:</strong> {{ selectedNode?.revenue | number:'1.0-2' || 'N/A' }}</p>

      <p *ngIf="isSector(selectedNode)"><strong>Sector Revenue:</strong> {{ selectedNode?.revenue | number:'1.0-2' || 'N/A' }}</p>

      <p *ngIf="isAccountManager(selectedNode)"><strong>Managed Revenue:</strong> {{ selectedNode?.revenue | number:'1.0-2' || 'N/A' }}</p>

      <p *ngIf="isCustomer(selectedNode)"><strong>Industry:</strong> {{ selectedNode.industry || 'N/A' }}</p>
      <p *ngIf="isCustomer(selectedNode)"><strong>Location:</strong> {{ selectedNode.location || 'N/A' }}</p>

      <div *ngIf="isProject(selectedNode)">
        <p><strong>Success:</strong> {{ selectedNode.success ? 'Yes' : 'No' }}</p>
        <p><strong>Year:</strong> {{ selectedNode.year || 'N/A' }}</p>
        <p><strong>Status:</strong> {{ selectedNode.status || 'N/A' }}</p>
        <p><strong>Start Date:</strong> {{ selectedNode.startDate ? (selectedNode.startDate | date) : 'N/A' }}</p>
        <p><strong>End Date:</strong> {{ selectedNode.endDate ? (selectedNode.endDate | date) : 'N/A' }}</p>
        <p><strong>Scope:</strong> {{ selectedNode.scope || 'N/A' }}</p>
        <p><strong>Budget:</strong> {{ selectedNode.budget | number:'1.0-2' || 'N/A' }}</p>
        <p><strong>Actual Cost:</strong> {{ selectedNode.actualCost | number:'1.0-2' || 'N/A' }}</p>
        <p><strong>Impact:</strong> {{ selectedNode.impact || 'N/A' }}</p>
      </div>
    </div>
  </div>
  <button (click)="toggleSidebar()" [ngClass]="{'translate-x-full': sidebarExpanded, 'translate-x-0': !sidebarExpanded}" class="bg-gray-800 hover:bg-gray-700 text-white font-bold rounded-full p-2 fixed top-1/2 right-0 transform translate-x-full z-20">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 6h16M4 12h16m-7 6h7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
    </svg>
  </button>
</div>
